{% set servers = [] -%}
{% for fqdn in salt['mine.get']('roles:etcd', 'network.ip_addrs', expr_form='grain').items() -%}
  {% do servers.append(fqdn[0] + '=https://' + fqdn[0] + ':2380') -%}
{% endfor -%}
ETCD_DATA_DIR="/var/lib/etcd/"
ETCD_NAME="{{ grains['id'] }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ grains['fqdn'] }}:2380"
ETCD_LISTEN_PEER_URLS="https://{{ grains['ip4_interfaces']['eth0'][0] }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ grains['ip4_interfaces']['eth0'][0] }}:2379"
ETCD_ADVERTISE_CLIENT_URLS="https://{{ grains['fqdn'] }}:2379"
ETCD_INITIAL_CLUSTER_TOKEN="etcd-cluster"
ETCD_INITIAL_CLUSTER="{{ ",".join(servers) }}"
ETCD_INITIAL_CLUSTER_STATE="new"
ETCD_CA_FILE=/var/lib/k8s-ca-certificates/cluster_ca.crt
ETCD_CERT_FILE=/etc/pki/minion.crt
ETCD_KEY_FILE=/etc/pki/minion.key
ETCD_PEER_CA_FILE=/var/lib/k8s-ca-certificates/cluster_ca.crt
ETCD_PEER_CERT_FILE=/etc/pki/minion.crt
ETCD_PEER_KEY_FILE=/etc/pki/minion.key