{% set servers = [] -%}
{% for fqdn in salt['mine.get']('roles:etcd', 'network.ip_addrs', expr_form='grain').items() -%}
  {% do servers.append(fqdn[0] + '=https://' + fqdn[0] + ':2380') -%}
{% endfor -%}

ETCD_DATA_DIR="/var/lib/etcd/"
ETCD_NAME="{{ grains['id'] }}"

ETCD_LISTEN_CLIENT_URLS="https://0.0.0.0:2379"
ETCD_LISTEN_PEER_URLS="https://0.0.0.0:2380"

ETCD_ADVERTISE_CLIENT_URLS="https://{{ grains['fqdn'] }}:2379,https://{{ grains['ip4_interfaces']['eth0'][0] }}:2379"

ETCD_CA_FILE={{ pillar['paths']['ca_dir'] }}/{{ pillar['paths']['ca_filename'] }}
ETCD_CERT_FILE=/etc/pki/minion.crt
ETCD_KEY_FILE=/etc/pki/minion.key

ETCD_PEER_CA_FILE={{ pillar['paths']['ca_dir'] }}/{{ pillar['paths']['ca_filename'] }}
ETCD_PEER_CERT_FILE=/etc/pki/minion.crt
ETCD_PEER_KEY_FILE=/etc/pki/minion.key

ETCD_INITIAL_ADVERTISE_PEER_URLS="https://{{ grains['fqdn'] }}:2380"
ETCD_INITIAL_CLUSTER_TOKEN="{{ pillar['etcd']['token'] }}"
ETCD_INITIAL_CLUSTER="{{ ",".join(servers) }}"
ETCD_INITIAL_CLUSTER_STATE="new"

