{% set kube_servers = [] -%}
{% for fqdn in salt['mine.get']('roles:kube-master', 'fqdn', expr_form='grain').values() -%}
  {% do kube_servers.append(fqdn) -%}
{% endfor -%}

apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ pillar['paths']['ca_dir'] }}/{{ pillar['paths']['ca_filename'] }}
    server: https://{{ kube_servers[0] }}:{{ pillar['api']['ssl_port'] }}
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    user: default-admin
  name: default-system
current-context: default-system
kind: Config
preferences: {}
users:
- name: default-admin
  user:
    client-certificate: /etc/pki/minion.crt
    client-key: /etc/pki/minion.key
