{% set kube_servers = [] -%}
{% set api_ssl_port = salt['pillar.get']('api:ssl_port', '6443') -%}
{% for fqdn in salt['mine.get']('roles:kube-master', 'network.ip_addrs', expr_form='grain').items() -%}
  {% do kube_servers.append('https://' + fqdn[0] + ':' + api_ssl_port) -%}
{% endfor -%}
###
# kubernetes kubelet (minion) config

# The address for the info server to serve on (set to 0.0.0.0 or "" for all interfaces)
KUBELET_ADDRESS="--address=0.0.0.0"

# The port for the info server to serve on
KUBELET_PORT="--port=10250"

# You may leave this blank to use the actual hostname
KUBELET_HOSTNAME=""

# location of the api-server
KUBELET_API_SERVER="--api-servers={{ ','.join(kube_servers) }}"

# Add your own!
KUBELET_ARGS="\
{% if pillar.get('addons', '').lower() == 'true' -%}
    --cluster-dns={{ pillar['dns']['cluster_ip'] }} \
    --cluster-domain={{ pillar['dns']['domain'] }} \
{% endif -%}
    --node-ip={{ grains['ip4_interfaces']['eth0'][0] }} \
{% if grains['lsb_distrib_id'] == "CAASP" -%}
    --pod-manifest-path=/etc/kubernetes/manifests \
    --pod-infra-container-image={{ pillar['pod_infra_container_image'] }} \
{% endif -%}
{% if salt['pillar.get']('infrastructure', 'libvirt') == 'aws' -%}
    --cloud-provider=aws \
{% endif -%}
    {{ pillar['components']['kubelet']['args'] }} \
    --kubeconfig={{ pillar['paths']['kubeconfig'] }}"
