{% set api_server = "api." + pillar['internal_infra_domain']  -%}
{% set api_ssl_port = salt['pillar.get']('api:ssl_port', '6443') -%}
{% set api_server_url = 'https://' + api_server + ':' + api_ssl_port -%}

###
# kubernetes kubelet (minion) config

# The address for the info server to serve on (set to 0.0.0.0 or "" for all interfaces)
KUBELET_ADDRESS="--address=0.0.0.0"

# The port for the info server to serve on
KUBELET_PORT="--port={{ pillar['kubelet']['port'] }}"

# Use <machine_id>.<internal_infra_domain> matching the SSL certificates
KUBELET_HOSTNAME="--hostname-override={{ grains['caasp_fqdn'] }}"

# location of the api-server
KUBELET_API_SERVER="--api-servers={{ api_server_url }}"

# Add your own!
KUBELET_ARGS="\
    --cluster-dns={{ pillar['dns']['cluster_ip'] }} \
    --cluster-domain={{ pillar['dns']['domain'] }} \
    --node-ip={{ grains['ip4_interfaces']['eth0'][0] }} \
{% if grains['lsb_distrib_id'] == "CAASP" -%}
    --pod-manifest-path=/etc/kubernetes/manifests \
    --pod-infra-container-image={{ pillar['pod_infra_container_image'] }} \
{% endif -%}
{% if salt['pillar.get']('infrastructure', 'libvirt') == 'aws' -%}
    --cloud-provider=aws \
{% endif -%}
    {{ pillar['components']['kubelet']['args'] }} \
    --network-plugin=cni \
    --cni-bin-dir=/etc/cni/bin \
    --kubeconfig={{ pillar['paths']['kubeconfig'] }}"
