apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: {{ pillar['hyperkube_image'] }}
    command:
    - /hyperkube
    - proxy
    - --kubeconfig={{ pillar['paths']['kubeconfig'] }}
    securityContext:
      privileged: true
    resources:
      requests:
        cpu: 100m
    livenessProbe:
      httpGet:
        host: 127.0.0.1
        path: /healthz
        port: 10249
      initialDelaySeconds: 15
      timeoutSeconds: 15
    volumeMounts:
      - name: etckubernetes
        mountPath: /etc/kubernetes
        readOnly: true
      - name: varlibkubelet
        mountPath: /var/lib/kubelet
        readOnly: true
      - name: etcssl
        mountPath: /etc/pki
        readOnly: true
  volumes:
    - name: etckubernetes
      hostPath:
        path: /etc/kubernetes
    - name: varlibkubelet
      hostPath:
        path: /var/lib/kubelet
    - name: etcssl
      hostPath:
        path: /etc/pki
