###
# kubernetes proxy config

# default config should be adequate

# Add your own!
KUBE_PROXY_ARGS="\
    --kubeconfig={{ pillar['paths']['kubeconfig'] }} \
    --proxy-mode=iptables \
    {{ pillar['components']['proxy']['args'] }} \
    --v=2"
