{% set api_server = "api." + pillar['internal_infra_domain']  -%}
{% set api_ssl_port = salt['pillar.get']('api:ssl_port', '6443') -%}
{% set api_server_url = 'https://' + api_server + ':' + api_ssl_port -%}

apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ pillar['ssl']['sys_ca_bundle'] }}
    server: {{ api_server_url }}
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    user: {{ user }}
  name: default-system
current-context: default-system
kind: Config
preferences: {}
users:
- name: {{ user }}
  user:
    client-certificate: {{ client_certificate }} 
    client-key: {{ client_key }}
