{%- set docker_daemon_config = salt['pillar.get']('docker:daemon') -%}
{%- set registries           = salt['pillar.get']('registries') -%}

{#- TODO: remove once we don't need the "suse_registry_mirror" exception -#}
{% set suse_registry_url = salt['pillar.get']('suse_registry_url', 'https://registry.suse.com') %}
{% set suse_registry_mirror_url = salt['pillar.get']('suse_registry_mirror:url', '') %}

{
  {%- if registries|length > 0 or suse_registry_mirror_url|length> 0 %}
  "registries": [
  {#- TODO: remove once we don't need the "suse_registry_mirror" exception -#}
  {%- if suse_registry_mirror_url|length> 0 %}
    {
      "Mirrors": [
        {
          "URL": "{{- suse_registry_mirror_url -}}"
        }
      ],
      "Prefix": "{{- suse_registry_url -}}"
    }{{- "," if registries|length > 0 else ""}}
  {%- endif %}
  {%- for registry in registries %}
    {
      {%- set mirrors = registry.get('mirrors', []) -%}
      {% if mirrors|length > 0 %}
      "Mirrors": [
        {%- for mirror in mirrors %}
        {
          "URL": "{{- mirror.get('url') -}}"
        }{{- "," if not loop.last else ""}}
        {%- endfor %}
      ],
      {%- endif %}
      {#- prefix must be [http[s]://]<HOST>[:<PORT>][/<PATH>] #}
      "Prefix": "{{- registry.get('url') -}}"
    }{{- "," if not loop.last else ""}}
  {%- endfor %}
  ],
  {%- endif %}
  "iptables": {{- docker_daemon_config.get('iptables') -}},   {#- true/false (not quoted) #}
  "log-level": "{{- docker_daemon_config.get('log_level') -}}"
}
