Welcome!

Machine ID: {{ salt['grains.get']('machine_id', 'ERROR') }}
Hostname: {{ salt['grains.get']('nodename', 'ERROR') }}

The roles of this node are:
{%- for role in salt['grains.get']('roles', []) %}
  - {{role}}
{%- endfor -%}
