[Global]
auth-url="{{ salt.caasp_pillar.get('cloud:openstack:auth_url', '') }}"
username="{{ salt.caasp_pillar.get('cloud:openstack:username', '') }}"
password="{{ salt.caasp_pillar.get('cloud:openstack:password', '') }}"
{%- if salt.caasp_pillar.get('cloud:openstack:project_id', '') %}
tenant-id="{{ salt.caasp_pillar.get('cloud:openstack:project_id', '') }}"
{%- else %}
tenant-name="{{ salt.caasp_pillar.get('cloud:openstack:project', '') }}"
{%- endif %}
{%- if salt.caasp_pillar.get('cloud:openstack:domain_id', '') %}
domain-id="{{ salt.caasp_pillar.get('cloud:openstack:domain_id', '') }}"
{%- else %}
domain-name="{{ salt.caasp_pillar.get('cloud:openstack:domain', '') }}"
{%- endif %}
region="{{ salt.caasp_pillar.get('cloud:openstack:region', '') }}"
ca-file="/etc/ssl/ca-bundle.pem"
[LoadBalancer]
lb-version=v2
subnet-id="{{ salt.caasp_pillar.get('cloud:openstack:subnet', '') }}"
floating-network-id="{{ salt.caasp_pillar.get('cloud:openstack:floating', '') }}"
create-monitor=yes
monitor-delay=1m
monitor-timeout=30s
monitor-max-retries={{ salt.caasp_pillar.get('cloud:openstack:lb_mon_retries', '') }}
[BlockStorage]
trust-device-path=false
bs-version={{ salt.caasp_pillar.get('cloud:openstack:bs_version', '') }}
ignore-volume-az={{ salt.caasp_pillar.get('cloud:openstack:ignore_vol_az', '') }}
