[Global]
auth-url="{{ pillar['cloud']['openstack']['auth_url'] }}"
username="{{ pillar['cloud']['openstack']['username'] }}"
password="{{ pillar['cloud']['openstack']['password'] }}"
tenant-name="{{ pillar['cloud']['openstack']['project'] }}"
domain-name="{{ pillar['cloud']['openstack']['domain'] }}"
region="{{ pillar['cloud']['openstack']['region'] }}"
ca-file="/etc/ssl/ca-bundle.pem"
[LoadBalancer]
lb-version=v2
subnet-id="{{ pillar['cloud']['openstack']['subnet'] }}"
floating-network-id="{{ pillar['cloud']['openstack']['floating'] }}"
create-monitor=yes
monitor-delay=1m
monitor-timeout=30s
monitor-max-retries={{ pillar['cloud']['openstack']['lb_mon_retries'] }}
[BlockStorage]
trust-device-path=false
bs-version={{ pillar['cloud']['openstack']['bs_version'] }}
