
{% macro alt_names(lst=[]) -%}
  {#- add all the names and IPs we know about -#}
  {%- set altNames = [
    "DNS: " + grains['nodename'], "DNS: " + grains['nodename'] + "." + pillar['internal_infra_domain'],
    "DNS: " + grains['machine_id'], "DNS: " + grains['machine_id'] + "." + pillar['internal_infra_domain']
  ] -%}
  {#- append all the names/IPs provided (if not empty) -#}
  {%- for name in lst -%}
    {%- if name and name|length > 0 -%}
      {%- if salt['caasp_filters.is_ip'](name) -%}
        {%- do altNames.append("IP: " + name) -%}
      {%- else -%}
        {%- do altNames.append("DNS: " + name) -%}
      {%- endif -%}
    {%- endif -%}
  {%- endfor -%}
  {{ ", ".join(altNames) }}
{%- endmacro %}

#####################################################################

# a list of alternative names for a kubernetes master
{% macro alt_master_names(lst=[]) -%}
  {%- set names_lst = ["kubernetes",
                       "kubernetes.default",
                       "kubernetes.default.svc",
                       "api",
                       "api." + pillar['internal_infra_domain'],
                       salt.caasp_pillar.get('api:server:external_fqdn'),
                       salt.caasp_pillar.get('api:cluster_ip')] +
                       salt.caasp_pillar.get('api:server:extra_names', []) +
                       salt.caasp_pillar.get('api:server:extra_ips', []) +
                       lst -%}
  {#- add some standard extra names from the DNS domain -#}
  {%- if salt.caasp_pillar.get('dns:domain') -%}
    {%- do names_lst.append("kubernetes.default.svc." + pillar['dns']['domain']) -%}
  {%- endif -%}
  {{ alt_names(names_lst) }}
{%- endmacro %}

#####################################################################

{% macro certs(name, crt, key, cn='', o='', extra_alt_names=None) -%}

{%- if extra_alt_names == None -%}
  {#- calculate automatically the altNames depending on the role -#}
  {%- if "kube-master" in salt['grains.get']('roles', []) -%}
    {%- set extra_alt_names = alt_master_names() -%}
  {%- else -%}
    {%- set extra_alt_names = alt_names() -%}
  {%- endif -%}
{%- endif -%}

{{ key }}:
  x509.private_key_managed:
    - bits: 4096
    - user: root
    - group: root
    - mode: 444
    - require:
      - sls:  crypto
      - file: /etc/pki

{{ crt }}:
  caasp_retriable.retry:
    - target: x509.certificate_managed
    - ca_server: {{ salt['mine.get']('roles:ca', 'ca.crt', expr_form='grain').keys()|first }}
    - signing_policy: minion
    - public_key: {{ key }}
  {%- if cn %}
    - CN: {{ cn|yaml_dquote }}
  {%- else %}
    - CN: {{ ("system:" + name)|yaml_dquote }}
  {%- endif %}
    - C: {{ pillar['certificate_information']['subject_properties']['C']|yaml_dquote }}
    - Email: {{ pillar['certificate_information']['subject_properties']['Email']|yaml_dquote }}
    - GN: {{ pillar['certificate_information']['subject_properties']['GN']|yaml_dquote }}
    - L: {{ pillar['certificate_information']['subject_properties']['L']|yaml_dquote }}
    {# "system:{{ name }}" is a kubernetes specific role identifying a {{ name }} in th system #}
  {%- if o %}
    - O: {{ o|yaml_dquote }}
  {%- else -%}
    - O: {{ ("system:" + name)|yaml_dquote }}
  {%- endif %}
    - OU: {{ pillar['certificate_information']['subject_properties']['OU']|yaml_dquote }}
    - SN: {{ pillar['certificate_information']['subject_properties']['SN']|yaml_dquote }}
    - ST: {{ pillar['certificate_information']['subject_properties']['ST']|yaml_dquote }}
    - basicConstraints: "critical CA:false"
    - keyUsage: nonRepudiation, digitalSignature, keyEncipherment
  {%- if extra_alt_names %}
    - subjectAltName: {{ extra_alt_names|yaml_dquote }}
  {%- endif %}
    - days_valid: {{ pillar['certificate_information']['days_valid']['certificate'] }}
    - days_remaining: {{ pillar['certificate_information']['days_remaining']['certificate'] }}
    - backup: True
    - user: root
    - group: root
    - mode: 644
    - retry:
        attempts: 5
    - require:
      - sls: crypto
      - x509: {{ key }}

{{ crt }}-bundle:
  file.managed:
    - name: /etc/pki/private/{{ name }}-bundle.pem
    - source: salt://cert/cert-bundle.jinja
    - template: jinja
    - user: root
    - group: root
    - mode: 600
    - makedirs: True
    - context:
        certificate: {{ crt }}
        key:         {{ key }}
    - onchanges:
        - caasp_retriable: {{ crt }}
        - x509: {{ key }}

{%- endmacro %}
