###
# kubernetes scheduler config

# default config should be adequate

# Add your own!
KUBE_SCHEDULER_ARGS="\
    --kubeconfig={{ pillar['paths']['kubeconfig'] }} \
    --leader-elect=true \
    {{ salt['pillar.get']('components:scheduler:args', '') }}"
