###
# kubernetes scheduler config

# default config should be adequate

# Add your own!
KUBE_SCHEDULER_ARGS="\
    --kubeconfig={{ pillar['paths']['kube_scheduler_config'] }} \
    --leader-elect=true \
    {{ salt.caasp_pillar.get('components:scheduler:args') }}"
