{
  "Network":   "{{ salt.caasp_pillar.get('cluster_cidr') }}",
  "SubnetLen": {{ salt.caasp_pillar.get('cluster_cidr_len') }},
  "SubnetMin": "{{ salt.caasp_pillar.get('cluster_cidr_min') }}",
  "SubnetMax": "{{ salt.caasp_pillar.get('cluster_cidr_max') }}",
  "Backend":
  {
    "Type": "{{ salt.caasp_pillar.get('flannel:backend') }}"
  }
}
