{
  "Network":   "{{ salt.caasp_pillar.get('cluster_cidr') }}",
  "SubnetLen": {{ salt.caasp_pillar.get('cluster_cidr_len') }},
{#- Let flannel calculate the subnets if not specified by the user #}
{%- if salt.caasp_pillar.get('cluster_cidr_min') %}
  "SubnetMin": "{{ salt.caasp_pillar.get('cluster_cidr_min') }}",
{%- endif %}
{%- if salt.caasp_pillar.get('cluster_cidr_max') %}
  "SubnetMax": "{{ salt.caasp_pillar.get('cluster_cidr_max') }}",
{%- endif %}
  "Backend":
  {
    "Type": "{{ salt.caasp_pillar.get('flannel:backend') }}"
  }
}
