{
  "Network":   "{{ pillar['cluster_cidr'] }}",
  "SubnetLen": {{ pillar['cluster_cidr_len'] }},
  "SubnetMin": "{{ pillar['cluster_cidr_min'] }}",
  "SubnetMax": "{{ pillar['cluster_cidr_max'] }}",
  "Backend":
  {
    "Type": "{{ pillar['flannel']['backend'] }}"
  }
}
