###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="\
    --leader-elect=true \
    --cluster-name=kubernetes \
    --cluster-cidr={{ pillar['cluster_cidr'] }} \
    --service-account-private-key-file=/etc/pki/minion.key \
    --root-ca-file={{ pillar['paths']['ca_dir'] }}/{{ pillar['paths']['ca_filename'] }} \
{% if salt['pillar.get']('infrastructure', 'libvirt') == 'aws' -%}
    --cloud-provider=aws \
{% endif -%}
    {{ pillar['components']['controller-manager']['args'] }} \
    --v=2 \
    --kubeconfig={{ pillar['paths']['kubeconfig'] }}"
