---
kind: Pod
apiVersion: v1
metadata:
  name: kube-controller-manager
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-controller-manager
    image: "{{ pillar['hyperkube_image'] }}"
    command:
    - /hyperkube
    - controller-manager
    - --leader-elect=true
    - --allocate-node-cidrs
    - --cluster-cidr={{ pillar['cluster_cidr'] }}
    - --cluster-name=kubernetes
    - --service-account-private-key-file=/etc/pki/minion.key
    - --root-ca-file={{ pillar['paths']['ca_dir'] }}/{{ pillar['paths']['ca_filename'] }}
    {% if salt['pillar.get']('infrastructure', 'libvirt') == 'aws' -%}
    - --cloud-provider=aws
    {% endif -%}
    - --v=2
    - --kubeconfig={{ pillar['paths']['kubeconfig'] }}
    - "{{ salt['pillar.get']('components:controller-manager:args', '') }}"
    volumeMounts:
    - name: varlibkubelet
      mountPath: /var/lib/kubelet
      readOnly: true
    - name: etcssl
      mountPath: /etc/pki
      readOnly: true
    livenessProbe:
      httpGet:
        scheme: HTTP
        host: 127.0.0.1
        port: 10252
        path: /healthz
      initialDelaySeconds: 15
      timeoutSeconds: 15
  volumes:
  - name: varlibkubelet
    hostPath:
      path: /var/lib/kubelet
  - name: etcssl
    hostPath:
      path: /etc/pki
