{
  "Network":   "{{ pillar['cluster_cidr'] }}",
  "SubnetLen": 24,
  "SubnetMin": "172.20.50.0",
  "SubnetMax": "172.20.199.0",
  "Backend":
  {
    "Type": "{{ pillar['flannel']['backend'] }}"
  }
}
