###
# kubernetes scheduler config

# default config should be adequate

# Add your own!
KUBE_SCHEDULER_ARGS="\
    --leader-elect=true \
    --v=2 \
    {{ pillar['components']['scheduler']['args']}}"
