###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="\
    --kubeconfig={{ pillar['paths']['kube_controller_mgr_config'] }} \
    --leader-elect=true \
    --cluster-name=kubernetes \
    --cluster-cidr={{ pillar['cluster_cidr'] }} \
    --service-account-private-key-file={{ pillar['ssl']['key_file'] }} \
    --root-ca-file={{ pillar['ssl']['ca_file'] }} \
{% if salt['pillar.get']('infrastructure', 'libvirt') == 'aws' -%}
    --cloud-provider=aws \
{% endif -%}
    {{ salt['pillar.get']('components:controller-manager:args', '') }}"
