###
# The following values are used to configure the kubernetes controller-manager

# defaults from config and apiserver should be adequate

{%- set cloud_provider = salt.caasp_pillar.get('cloud:provider') -%}
{%- set managr_args = salt.caasp_pillar.get('components:controller-manager:args') %}"

# Add your own!
KUBE_CONTROLLER_MANAGER_ARGS="\
    --kubeconfig={{ pillar['paths']['kube_controller_mgr_config'] }} \
    --use-service-account-credentials \
    --leader-elect=true \
    --cluster-name=kubernetes \
    --cluster-cidr={{ pillar['cluster_cidr'] }} \
    --service-account-private-key-file={{ pillar['paths']['service_account_key'] }} \
    --service-cluster-ip-range={{ pillar['services_cidr'] }} \
    --allocate-node-cidrs=true \
    --node-cidr-mask-size={{ pillar['cluster_cidr_len'] }} \
    --root-ca-file={{ pillar['ssl']['ca_file'] }} \
{% if cloud_provider -%}
               --cloud-provider={{ cloud_provider }} \
  {% if cloud_provider == 'openstack' -%}
               --cloud-config=/etc/kubernetes/openstack-config \
  {% endif -%}
{% endif -%}
    {{ managr_args }}"
