{% set etcd_servers = [] -%}
{% for server, ipaddr in salt['mine.get']('roles:etcd', 'network.ip_addrs', expr_form='grain').items() -%}
  {% do etcd_servers.append('\"http://' + ipaddr[0] + ':2379\"') -%}
{% endfor -%}
backend = "etcd"
log-level = "debug"
nodes = [{{",".join(etcd_servers)}}]
