###
# kubernetes system config
#
# The following values are used to configure the kube-apiserver
#

{% set cloud_provider = salt.caasp_pillar.get('cloud:provider') %}

# The address on the local server to listen to.
KUBE_API_ADDRESS="--insecure-bind-address=127.0.0.1 --bind-address=0.0.0.0"

# The port on the local server to listen on.
KUBE_API_PORT="--insecure-port=8080 --secure-port={{ pillar['api']['int_ssl_port'] }}"

# Comma separated list of nodes in the etcd cluster
KUBE_ETCD_SERVERS="--etcd-cafile={{ pillar['ssl']['ca_file'] }} \
                   --etcd-certfile={{ pillar['ssl']['kube_apiserver_crt'] }} \
                   --etcd-keyfile={{ pillar['ssl']['kube_apiserver_key'] }} \
                   --etcd-servers={{ salt.caasp_etcd.get_endpoints() }}"

# Address range to use for services
# [alvaro] should not be in the same range as the flannel network (https://github.com/coreos/flannel/issues/232)
KUBE_SERVICE_ADDRESSES="--service-cluster-ip-range={{ pillar['services_cidr'] }}"

# default admission control policies
KUBE_ADMISSION_CONTROL="--admission-control=Initializers,NamespaceLifecycle,LimitRanger,ServiceAccount,NodeRestriction,PodSecurityPolicy,PersistentVolumeLabel,DefaultStorageClass,ResourceQuota,DefaultTolerationSeconds"

# Add your own!
KUBE_API_ARGS="--advertise-address={{ salt.caasp_net.get_primary_ip() }} \
               --apiserver-count={{ salt['mine.get']('roles:kube-master', 'nodename', expr_form='grain').values()|length }} \
{%- if cloud_provider %}
               --cloud-provider={{ pillar['cloud']['provider'] }} \
  {%- if cloud_provider == 'openstack' %}
               --cloud-config=/etc/kubernetes/openstack-config \
  {%- endif -%}
{% endif %}
               --tls-cert-file={{ pillar['ssl']['kube_apiserver_crt'] }} \
               --tls-private-key-file={{ pillar['ssl']['kube_apiserver_key'] }} \
               --tls-ca-file={{ pillar['ssl']['ca_file'] }} \
               --cert-dir=/etc/pki \
               {{ salt.caasp_pillar.get('components:apiserver:args') }} \
               --client-ca-file={{ pillar['ssl']['ca_file'] }} \
               --storage-backend={{ pillar['api']['etcd_version'] }} \
               --storage-media-type=application/json \
               --service-account-key-file={{ pillar['paths']['service_account_key'] }} \
               --service-account-lookup=true \
               --runtime-config=admissionregistration.k8s.io/v1alpha1 \
               --authorization-mode=Node,RBAC \
               --oidc-issuer-url=https://{{ pillar['api']['server']['external_fqdn'] }}:{{ pillar['dex']['node_port'] }} \
               --oidc-client-id=kubernetes \
               --oidc-ca-file={{ pillar['ssl']['ca_file'] }} \
               --oidc-username-claim=email \
               --oidc-groups-claim=groups"
