{% set api_server = "api." + pillar['internal_infra_domain']  -%}
{% set api_ssl_port = salt['pillar.get']('api:ssl_port', '6443') -%}
{% set api_server_url = 'https://' + api_server + ':' + api_ssl_port -%}
{% set cloud_provider = salt.caasp_pillar.get('cloud:provider') %}

###
# kubernetes kubelet (minion) config

# The address for the info server to serve on (set to 0.0.0.0 or "" for all interfaces)
KUBELET_ADDRESS="--address=0.0.0.0"

# The port for the info server to serve on
KUBELET_PORT="--port={{ pillar['kubelet']['port'] }}"

# Ensure we match the machine hostname
KUBELET_HOSTNAME="--hostname-override={{ grains['nodename'] }}"

# Add your own!
KUBELET_ARGS="\
    --cluster-dns={{ pillar['dns']['cluster_ip'] }} \
    --cluster-domain={{ pillar['dns']['domain'] }} \
    --node-ip={{ salt.caasp_net.get_primary_ip() }} \
{% if grains['lsb_distrib_id'] == "CAASP" -%}
    --pod-manifest-path=/etc/kubernetes/manifests \
    --pod-infra-container-image={{ pillar['pod_infra_container_image'] }} \
{% endif -%}
{% if cloud_provider -%}
               --cloud-provider={{ pillar['cloud']['provider'] }} \
  {% if cloud_provider == 'openstack' -%}
               --cloud-config=/etc/kubernetes/openstack-config \
  {% endif -%}
{% endif -%}
    {{ pillar['components']['kubelet']['args'] }} \
{% if salt['pillar.get']('runtime', 'docker').lower() == 'crio' -%}
    --experimental-cri=true \
    --container-runtime=remote \
    --container-runtime-endpoint=/var/run/crio.sock \
    --runtime-request-timeout=10m \
{% endif -%}
    --client-ca-file={{ pillar['ssl']['ca_file'] }} \
    --require-kubeconfig \
    --network-plugin=cni \
    --cni-bin-dir={{ pillar['cni']['dirs']['bin'] }} \
    --cni-conf-dir={{ pillar['cni']['dirs']['conf'] }} \
    --kubeconfig={{ pillar['paths']['kubelet_config'] }}"
